.flexbox {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
}

.flexbox div {
  background: peachpuff;
  /*border: 3px red solid;*/
  height: 200px;
  width: 300px;
  flex: 1 1 auto; /*flex-basis sets initial size of flex item*/
  /*flex: 0 1 0%;*/ /* <-- defult grow shrink flex-basis*/
  /*flex: 1; <-- only applied to grow*/
}

.flexbox .one {
  /* flex: 2 1 0%; grow 2x to others*/
  flex-shrink: 0;
}

.flexbox .two {
  display: flex;
}
